.aside {
  border: 1px solid $light-gray;
  &-top {
    display: flex;
    align-items: center;
    padding: 14px 16px 12px;
    border-bottom: 1px solid $light-gray;
    &__avatar {
      margin-right: 15px;
    }
  }
  &-list {
    overflow-y: auto;
    height: calc(100vh - 69px);
  }
  &-block {
    padding-top: 14px;
  }
  &-title {
    font-size: 1.4rem;
    color: $primary;
    font-weight: 600;
    padding-left: 12px;
    margin-bottom: 12px;
  }
}