@mixin placeholder {
  color: $gray;
  font-weight: 500;
}

.input {
  &__small {
    .input-field {
      padding: 6px 10px;
    }
  }
  &__large {
    .input-field {
      padding: 14px 11px;
    }
  }
  &__default {
    .input-field {
      border-radius: 6px;
    }
  }
  &__rounded {
    .input-field {
      border-radius: 17px;
    }
  }
  &__icon {
    position: relative;
    .input-field {
      padding-left: 32px;
    }
  }
  &-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    margin-top: -7px;
  }
  &-field {
    border: 1px solid $border-color;
    background-color: $field-bg;
    color: $base-color-black;
    &:focus {
      outline: none;
    }
    &::-webkit-input-placeholder {
      @include placeholder;
    }
    &:-ms-input-placeholder {
      @include placeholder;
    }
    &::-ms-input-placeholder {
      @include placeholder;
    }
    &::placeholder {
      @include placeholder;
    }
  }
}