$border-color: #DFE4EA;
$base-color-black: #2C2C2C;
$base-color-white: #FFF;
$light-gray: #EBEBEB;
$field-bg: #F9F9F9;
$gray: #626262;
$dark: #0F1642;
$primary: #7E72F2;
$primary-light: rgba(127, 114, 242, 0.4);
$success: #2DCD7A;
$error: #EA5455;

@mixin preventLinkStyle {
  text-decoration: none;
  color: inherit;
  &:focus {
    outline: none;
  }
}

@mixin nowrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin placeholder {
  color: $gray;
  font-weight: 500;
}
