.item {
  @include preventLinkStyle;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 12px;
  transition: background-color 0.3s;
  &.router-link-active,
  &.router-link-active:hover,
  &.router-link-active:focus {
    background-color: $border-color;
  }
  &:hover, &:focus {
    background-color: $light-gray;
  }
  &:not(:last-child) {
    border-bottom: 1px solid $border-color;
  }
  &-user {
    width: calc(100% - 60px);
  }
  &-info {
    margin-left: 4px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  &-date {
    white-space: nowrap;
    margin-bottom: 4px;
  }
  &-unread {
    font-size: .8rem;
    font-weight: 600;
    color: $base-color-white;
    background-color: $primary;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}